.config/fish/fish_variables
.config/fish/completions/*
.config/fish/conf.d/autopair.fish
.config/fish/conf.d/hydro.fish
.config/fish/conf.d/nvm.fish
.config/fish/functions/fisher.fish
.config/fish/functions/nvm.fish
.config/fish/functions/_nvm*
.config/fish/functions/__gitnow*
.config/fish/functions/_autopair*
.config/fish/functions/replay.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fish_mode_prompt.fish
